<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is where we will display the data</p>
  </div>
</div>
<div class="container">
  This is input 1: <%= input1 %><br>
  This is input 2: <%= input2 %>
</div>


</body>
</html>