<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This page will take two inputs and send the data
          to another page on the server.
        </p>
      </div>
    </div>
    <div class="container">
      <form action="/prove01/inputDisplay" method="POST">
        Input 1: <input type="text" name="input1">
        Input 2: <input type="text" name="input2">
        <button type="submit">Send</button>
      </form>
    </div>


</body>

</html>